In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
results_df1 = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "\\EDA\\2019-Oct_purchase.csv", sep=',', header=0)

In [9]:
results_df1.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,162,2019-10-01 00:02:14,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,5432729368187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone,NaN
1,308,2019-10-01 00:04:37,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,5513776513c80f0d6-e9ec-4181-8c5c-837a30be2d68,electronics,smartphone,NaN
2,379,2019-10-01 00:06:02,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,5145911590e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,NaN,NaN,NaN
3,442,2019-10-01 00:07:07,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,5553327171dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,furniture,bathroom,toilet
4,574,2019-10-01 00:09:26,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,5246011782af9b570-0942-4dcd-8f25-4d84fba82553,electronics,audio,headphone

In [3]:
results_df2 = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + "\\EDA\\2019-Nov_purchase.csv", sep=',', header=0)

In [8]:
results_df2.head()

,Unnamed: 0,Unnamed: 0.1,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd
0,107,107,2019-11-01 00:00:41,purchase,13200605,2053013557192163841,furniture.bedroom.bed,NaN,566.30,559368633,d6034fa2-41fb-4ac0-9051-55ea9fc9147a,559368633d6034fa2-41fb-4ac0-9051-55ea9fc9147a,furniture,bedroom,bed
1,168,168,2019-11-01 00:01:04,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d,513351129e6b7ce9b-1938-4e20-976c-8b4163aea11d,electronics,smartphone,NaN
2,707,707,2019-11-01 00:04:51,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d,5629585050f039697-fedc-40fa-8830-39c1a024351d,electronics,smartphone,NaN
3,811,811,2019-11-01 00:05:34,purchase,26401669,2053013563651392361,NaN,lucente,109.66,541854711,c41c44d5-ef9b-41b9-9cd6-8d96dda6e927,541854711c41c44d5-ef9b-41b9-9cd6-8d96dda6e927,NaN,NaN,NaN
4,939,939,2019-11-01 00:06:33,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e,5577466144d76d6d3-fff5-4880-8327-e9e57b618e0e,electronics,video,tv

In [6]:
results_df = pd.concat([results_df1, results_df2])

In [7]:
results_df.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,key,category_lcd,category_mcd,category_scd,Unnamed: 0.1
0,162,2019-10-01 00:02:14,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564,5432729368187d148-3c41-46d4-b0c0-9c08cd9dc564,electronics,smartphone,NaN,NaN
1,308,2019-10-01 00:04:37,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68,5513776513c80f0d6-e9ec-4181-8c5c-837a30be2d68,electronics,smartphone,NaN,NaN
2,379,2019-10-01 00:06:02,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,5145911590e5dfc4b-2a55-43e6-8c05-97e1f07fbb56,NaN,NaN,NaN,NaN
3,442,2019-10-01 00:07:07,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,5553327171dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f,furniture,bathroom,toilet,NaN
4,574,2019-10-01 00:09:26,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553,5246011782af9b570-0942-4dcd-8f25-4d84fba82553,electronics,audio,headphone,NaN